<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <title>CoronaSpy SMS Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- custom css -->
    <link rel="stylesheet" th:href="@{/report.css}">






<div class="form-structor">
    <button class="submit-btn" style="position: sticky !important;margin: 0 auto;top: 10px;left: 100px;">Go Back Home</button>
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Send  An SMS To Report About An Infected Case</h2>
        <form th:action="@{/report/sms}" method="post">
            <div class="form-holder">
                <input type=phonenumber class="input" name="phoneNumber" placeholder="Phone Number"/>
                <textarea class="input" name="message" placeholder="Message" style="width: 110% !important;"></textarea>            </div>
            <button class="submit-btn">Send</button>
        </form>
    </div>

	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Learn More About Corona Virus</h2>
			<div class="form-holder">
				   <p><h2>Overview</h2>
                Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.

The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 

The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).

At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available.</p>
                    <p><h2>Preventation</h2>To prevent infection and to slow transmission of COVID-19, do the following:

    Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.
    Maintain at least 1 metre distance between you and people coughing or sneezing.
    Avoid touching your face.
    Cover your mouth and nose when coughing or sneezing.
    Stay home if you feel unwell.
    Refrain from smoking and other activities that weaken the lungs.
    Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people. </p>
                       <p><h2>Symptoms</h2>The COVID-19 virus affects different people in different ways.  COVID-19 is a respiratory disease and most infected people will develop mild to moderate symptoms and recover without requiring special treatment.  People who have underlying medical conditions and those over 60 years old have a higher risk of developing severe disease and death.

Common symptoms include:

    fever
    tiredness
    dry cough.

Other symptoms include:

    shortness of breath
    aches and pains
    sore throat
    and very few people will report diarrhoea, nausea or a runny nose.

People with mild symptoms who are otherwise healthy should self-isolate and contact their medical provider or a COVID-19 information line for advice on testing and referral.

People with fever, cough or difficulty breathing should call their doctor and seek medical attention.</p>
			</div>
			<button class="submit-btn" th:href="@{/}">See Latests Data About Corona Virus</button>
		</div>
	</div>
</div>


       <th:block layout:fragment="script">
    <script>

console.clear();

const loginBtn = document.getElementById('login');
const signupBtn = document.getElementById('signup');

loginBtn.addEventListener('click', (e) => {
	let parent = e.target.parentNode.parentNode;
	Array.from(e.target.parentNode.parentNode.classList).find((element) => {
		if(element !== "slide-up") {
			parent.classList.add('slide-up')
		}else{
			signupBtn.parentNode.classList.add('slide-up')
			parent.classList.remove('slide-up')
		}
	});
});

signupBtn.addEventListener('click', (e) => {
	let parent = e.target.parentNode;
	Array.from(e.target.parentNode.classList).find((element) => {
		if(element !== "slide-up") {
			parent.classList.add('slide-up')
		}else{
			loginBtn.parentNode.parentNode.classList.add('slide-up')
			parent.classList.remove('slide-up')
		}
	});
});
</script>
</th:block>

